* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1.3rem;
  background-color: #2b3c3c;
}
body::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 0.2rem;
}

body {
  background-color: #1b1b1b;
}

nav {
  background: #1b1b1b;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  box-shadow: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(1, 0, 1));
  padding: 0.5rem 3rem;
  position: fixed;
  top: 0;
  z-index: 900;
}
nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
nav .links {
  margin: 0.5rem 2.3rem;
  display: flex;
  gap: 1.5rem;
  width: 20vw;
  justify-content: space-around;
}
nav .links button {
  border: none;
  background: transparent;
  color: white;
}

.crousel {
  margin: 5rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  margin: 1vh auto !important;
  background-color: #222;
  color: white;
}

.cards:last-child {
  align-self: left;
}

.d-block {
  border: none;
  opacity: 0.6;
}

.carousel-item {
  background: #1b1b1b;
  border: none;
}

.carousel-caption h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (max-width: 400px) {
  .carousel-caption h1 {
    font-size: 1rem;
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
h4 {
  color: whitesmoke;
  text-align: center;
}

.row {
  border-top: 1.5px solid white;
}

body {
  max-width: 100vw !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  overflow-x: hidden !important;
}

.responsive-cards {
  width: 18rem;
}

.searchContainer {
  width: 100vw;
  height: 60vh;
  background: #1c1c1c;
  display: grid;
  place-items: center;
}
.searchContainer .input {
  display: flex;
  background-color: white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 3.6rem;
  background: #2a2a2a;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  color: rgb(145, 139, 139) !important;
}
.search input::-moz-placeholder {
  color: white !important;
}
.search input::placeholder {
  color: white !important;
}

.search input:focus, input:focus {
  color: white !important;
  box-shadow: none;
  background: #2a2a2a;
  border: 2px solid #03F26A;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.search .fa-search svg {
  position: absolute;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 3rem !important;
  width: 5rem;
  background: #13AD6C;
  border: none;
  outline: none;
}
.search button:hover, .search button:active, .search button:focus {
  background: #03F26A !important;
}

.container {
  border: none;
}

.row {
  border: none !important;
}

.skele-img {
  aspect-ratio: 371.438/557.156;
  animation: skeleton 5s ease-in infinite;
}

@keyframes skeleton {
  0% {
    background-color: #5a5a5a;
  }
  25% {
    background-color: #4a4a4a;
  }
  50% {
    background-color: #3a3a3a;
  }
  75% {
    background-color: #2a2a2a;
  }
  100% {
    background-color: #5a5a5a;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to control the blur */
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: 999; /* Ensure the overlay is on top of other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  max-height: 100vh;
  overflow: hidden;
}

.containerOverlay {
  display: grid;
  place-items: center;
}

.cookiesContent {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1b1b;
  color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}
.cookiesContent::-webkit-scrollbar {
  display: none;
}
.cookiesContent::-webkit-scrollbar-corner {
  display: none;
}
.cookiesContent button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.cookiesContent img {
  width: 80% !important;
  border-radius: 12px;
  margin-bottom: 15px;
  aspect-ratio: 247/138.812;
  animation: skeleton 5s ease-in infinite;
}
.cookiesContent h3 {
  margin-bottom: 40px;
}

.genreIds {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 8rem;
}

.genres {
  width: 85%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll !important;
  gap: 1rem;
  height: 5rem !important;
}
.genres::-webkit-scrollbar {
  display: none;
}
.genres::-webkit-scrollbar-corner {
  display: none;
}

.genre {
  white-space: nowrap;
  display: flex;
  color: whitesmoke;
  background: #3a3a3a;
  padding: 0.5rem;
  border-radius: 20px;
  border: solid white 1px;
}

.data {
  margin: 1rem 0;
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#ratingStars {
  display: flex;
  padding-bottom: 1rem;
}

.overview {
  display: flex;
  align-items: flex-start;
  width: 80%;
}

summary {
  text-align: left;
}

@media screen and (max-width: 400px) {
  .overlay {
    padding: 0;
    align-items: flex-end !important;
    height: 100vh;
    animation: up 2s ease-in-out linear;
  }
  .cookiesContent {
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .cookiesContent img {
    width: 95%;
  }
  .cookiesContent h4 {
    margin-bottom: 1rem;
  }
  .genreIds, .data, .overview {
    width: 90% !important;
  }
  .genreIds {
    height: 8rem !important;
    flex-direction: column-reverse;
  }
  details p {
    text-align: left;
  }
}
@keyframes up {
  0% {
    height: 200vh;
  }
  100% {
    height: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .genreIds {
    height: 6rem;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */