* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
}

nav {
  background: #1b1b1b;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  box-shadow: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(1, 0, 1));
  padding: 0.5rem 3rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
nav .links {
  margin: 0.5rem 2.3rem;
  display: flex;
  gap: 1.5rem;
  width: 20vw;
  justify-content: space-around;
}
nav .links button {
  border: none;
  background: transparent;
  color: white;
}

.crousel {
  margin: 5rem 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards .card {
  margin: 1vh auto !important;
  background-color: #222;
  color: white;
}

.cards:last-child {
  align-self: left;
}

.d-block {
  border: none;
  opacity: 0.6;
}

.carousel-item {
  background: #1b1b1b;
  border: none;
}

.carousel-caption h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media screen and (max-width: 400px) {
  .carousel-caption h1 {
    font-size: 1rem;
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
h4 {
  color: whitesmoke;
  text-align: center;
}

.row {
  border-top: 1.5px solid white;
}

body {
  max-width: 100vw !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  overflow-x: hidden !important;
}

.responsive-cards {
  width: 18rem;
}

@media screen and (max-width: 400px) {
  .responsive-cards {
    width: 97vw;
    margin: 5vh 0;
  }
}
.searchContainer {
  width: 100vw;
  height: 60vh;
  background: #1c1c1c;
  display: grid;
  place-items: center;
}
.searchContainer .input {
  display: flex;
  background-color: white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 3.6rem;
  background: #2a2a2a;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  color: rgb(145, 139, 139) !important;
}
.search input::-moz-placeholder {
  color: white !important;
}
.search input::placeholder {
  color: white !important;
}

.search input:focus, input:focus {
  color: white !important;
  box-shadow: none;
  background: #2a2a2a;
  border: 2px solid rgb(31, 31, 255);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}
.search .fa-search svg {
  position: absolute;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 3rem !important;
  width: 5rem;
  background: rgb(34, 34, 255);
  outline: none;
}

.container {
  border: none;
}

.row {
  border: none !important;
}

.skele-img {
  aspect-ratio: 371.438/557.156;
  animation: skeleton 5s ease-in infinite;
}

@keyframes skeleton {
  0% {
    background-color: #5a5a5a;
  }
  25% {
    background-color: #4a4a4a;
  }
  50% {
    background-color: #3a3a3a;
  }
  75% {
    background-color: #2a2a2a;
  }
  100% {
    background-color: #5a5a5a;
  }
}
.none {
  display: none;
}/*# sourceMappingURL=style.css.map */